<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/includes/header::head"></div>
</head>
<body>
<div th:replace="/includes/header::nav"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <form method="post" action="/students/add">
                <input type="text" class="form-control"  name="surname" placeholder="Фамилия">
                <input type="text" class="form-control"  name="name" placeholder="Имя">
                <input type="text" class="form-control"  name="patronymic" placeholder="Отчество">
                <input type="date" class="form-control"  name="birthday" pattern="yyyy-MM-dd">
                <!--<select>
                    <option th:each="group : ${groups}" value="th:text=" ${student.surname}
                    "">
                    th:text="${student.surname}"
                    </option>
                </select>-->

                <select class="form-control" name="groupId"/>
                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.getName()}"></option>
                </select>
                <button type="submit" class="btn btn-default">Добавить</button>
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>

</body>
</html>