<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/includes/header::head"></div>
</head>
<body>
<div th:replace="/includes/header::nav"></div>

<div class="container">
    <h1>Список студентов</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Группа</th>
            <th scope="col">Предметы и успеваемость</th>
            <th scope="col">Удалить</th>
            <th scope="col">Редактировать студента</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.surname}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.patronymic}"></td>
            <td th:text="${student.birthday}"></td>
            <td th:text="${student.getGroup().name}"></td>
            <td><a th:href="@{/students/studentSubjects/{id}(id=${student.id})}">Предметы</a></td>
            <td><a th:href="@{/students/delete/{id}(id=${student.id})}">Удалить</a></td>
            <td><a th:href="@{/students/update/{id}(id=${student.id})}">Редактировать</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>