<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Предметы</title>
</head>
<body>
<div>
    <form method="post" action="/subjects/add">
        <input type="text" name="title" placeholder="Предмет">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <h1>Список предметов</h1>
    <table>
        <thead>
        <tr>
            <th>Предметы</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sub : ${subjects}">
            <td th:text="${sub.title}"></td>
            <td><a th:href="@{/subjects/delete/{id}(id=${sub.id})}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>