<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teachers page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:include="/includes/header::head"></div>
</head>
<body>
<div th:replace="/includes/header::nav"></div>
<div class="container">
    <h1>Список преподавателей</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Предметы</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.surname}"></td>
            <td th:text="${teacher.name}"></td>
            <td th:text="${teacher.patronymic}"></td>
            <td><a th:href="@{/teachers/teacherSubjects/{id}(id=${teacher.id})}">Предметы</a></td>
            <td><a th:href="@{/teachers/delete/{id}(id=${teacher.id})}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>